    @media (max-width: 576px) {
      .navbar-brand img {
        border-radius: 50%;
        width: 70px;
      }
      .Contact-form, .contact-info {
        padding: 20px;
      }
      .contact-info {
        margin-top: 20px;
      }

      .navbar-brand img {
        border-radius: 50%;
        width: 70px;
        object-fit: cover;
    }
    }
    body{
      background-color:#333;
    }

    h1 {
      text-align: center;
    }
    button {
      background-color: #006494 !important; 
      transition: background-color 0.3s ease !important;
    }
    .container {
        margin-top: 50px;
        background-color: #7F8AA8; 
        padding: 20px;
        border-radius: 10px;
    }
    form {
      margin-bottom: 20px;
    }
    input[type="text"], textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
    }
    .navbar-toggler-icon{
        background-color: #333 !important;
    }
    #navbar-button{
        border-color:#2A3140 !important;
        background-color: #2A3140 !important;
    }
    .navbar-brand img {
        max-height: 100px;
        padding: 0px;
    }
    .navbar {
      background-color: #2A3140; 
    }

    .links {
        font-size: x-large;
    }
    input[type="submit"] {
      background-color: #007bff;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    input[type="submit"]:hover {
      background-color: #0056b3;
    }

    .main-div{
      border-radius: 20px;
      border-bottom-left-radius:0px; 
      border-bottom-right-radius:0px;
      padding-bottom: 10px;
    }

    .social-media {
      text-align: left;
      margin-top: 50px
    }
    .social-media a {
      margin: 0 5px;
      color: #007bff;
      text-decoration: none;
    }
    iframe {
        border-radius: 20px;
        width: 100%; /* Full width */
        height: 800px; /* Adjust height as needed */
        border: none;
      }
    .navbar-brand img {
      padding: 0%;
      margin: 0%;
      max-height: 150px;
    }
    .navbar {
      background-color: #2A3140;
      padding: 0%;
      margin: 0%;
    }
    .nav-link {
      color: #d6d9c8 !important;
    }
    .links {
        font-size: xx-large;
        margin: 5px;
    }
    .Contact-form{
        margin-top: 30px;
        float: left;
        border-radius: 10px;
        border: 1px;
    }
    .contact-info {
        border: 2px solid #ccc;
        border-radius: 10px;
        margin-top: 10px;
        font-size: x-large;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    .contact-info h2 {
        margin-bottom: 15px;
        color: #333;
    }
    .contact-details, .contact-form {
        margin-bottom: 20px;
    }
    .contact-details div, .contact-form input[type="text"], .contact-form textarea, .contact-form input[type="submit"] {
        margin-bottom: 10px;
    }
    .contact-details strong {
        color: #007bff;
    }