@media (max-width: 576px) {
    .jumbotron {
        background-image: url('images/back.avif');
        background-size: cover;
        background-position: center;
        opacity:0.75;
        min-height: fit-content;
    }
    .dropdown-menu {
        overflow-x: hidden;
    }
    .navbar-brand img {
        width: 70px;
        object-fit: cover;
    }
    
    .Create_Account-inside h3 {
        color: whitesmoke;
        font-size: 40px;
        margin-bottom: 20px;
    }
    .card{
        margin-top: 100px;
    }
    
}
@media (max-width:768px) {
    .buttons {
        font-size:22px !important;
    }
    
}
body {
    background-color:#898FA7;
}

.container {
    margin-top: 50px;
    background-color: #7F8AA8; 
    padding: 20px;
    border-radius: 10px;
}

.custom-container {
    width: 80vw;
    margin: auto;
    margin-top: 50px;
    background-color: #7F8AA8; 
    padding: 20px;
    border-radius: 10px;
}

button {
    background-color: #006494 !important; 
    transition: background-color 0.3s ease !important;
}
button:hover {
    background-color: #373B8C !important;
    color: white !important;
}
.card {
    transition: transform 0.3s ease-in-out;
}
.card:hover {
    margin-top: 2px;
    transform: translateY(-15px);
}
.card-img-top {
    height: 300px;
    object-fit: cover;
}
.card-body{
    color: #09182D;
    background-color: #BFC7D9;
    height:  330px;
    overflow-y: auto;
    font-size:23px ;
}
.card-footer{
    background-color: #BFC7D9;
    border: 0px;
}
.Car_type_name {
    text-align: center;
}
.Car_selection_img {
    height: 100px;
    object-fit: cover;
}
.buttons {
    height: 70px;
    background-color: #006494;
    width: 100%;
    color: #d6d9c8;
    font-size:xx-large;
    margin-top: 15px;
}
.links {
    font-size:40px !important;
    margin: 10px;
}

#navbar-button{
    border-color:#2A3140 !important;
    background-color: #2A3140 !important;
}

#More_section{
    border-color:#2A3140 !important;
    background-color: #2A3140 !important;
}

#More_section a{
    color:whitesmoke;
    font-size: x-large;
}

#More_section a:hover{

    background-color: #7F8AA8;
}
.navbar-brand img {
    max-height: 150px;
    padding: 0px;
    margin: 0px;
    margin-right: 15px;
}
.navbar {
    background-color: #2A3140;
    padding:0px !important;
}
.jumbotron {
    background-image:url("../images/back.avif");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    opacity: .8;
    color: #e0e0de;
    text-align: left;
    padding: 5% 0;
    background-color: #001219;
}
.jumbotron h1{
    font-size: 60px;
}
.jumbotron p,a{
    margin-top: 5px;
    font-size: x-large;
    padding-left: 5%;
}

.form-control-lg {
    margin-bottom: 15px;
}
.form-check-inline {
    margin-bottom: 15px;
}

.Create-Account{
    background-image: url("../images/Acc_back.avif");
    background-size:cover;
    background-position: bottom;
    color:white;
    padding: 20px;
}

.Create_Account-inside h3 {
    font-size: 40px;
    margin-bottom: 20px;
}
.Create_Account-inside button {
    padding: 10px 20px;
    font-size: 30px;
    background-color: #006494;
    color: white;
    transition: background-color 0.3s ease;
}

.social-media {
    border-width: 1px;
    border-style: solid;
    text-align: left;
    margin-top: 50px
  }
  .social-media a {
    font-size: x-large;
    margin: 0 5px;
    color: #0a54a2;
    text-decoration: none;
  }
  .social-media h2{
    margin-bottom: 25px;
    text-align: center;
  }
  
  .filter-form label{
    margin: 8px;
    font-size: x-large;
  }
  option{
    text-align: center;
  }

  .product-item{
    width: 80%;
    margin-top: 50px;
    margin-left: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    background-color:#7F8AA8;
    }
    .product-item img{
        border-radius: 20px;
        width: 100%;
        height: auto;
    }
    .product-item p{
        font-size: x-large;
        font-family:Arial, Helvetica, sans-serif;
    }
    
    .car-detail-container{
        background-color: #7F8AA8;
        width: 85vw;
        margin: auto;
        margin-top: 2%;
        padding: 0.8%;
        border-radius: 20px;
        font-size: x-large;
    }

    .car-detail-container button{
       font-size: xx-large;
    }

    #detail-table{
        height: 59vh !important;
        padding: 0%;
        margin: 0%;
    }

    #detailed-description {
        font-family: Arial, sans-serif;
        font-size: 25px;
        line-height: 1.6;
        color: #270eb5;
    }
    
    .detail-content{
        color: rgba(255, 217, 0, 0.644);
    }

    #contact-detail p,span,a{
        font-size: 30px !important;
    }
    
    #review-section .icon {
        text-align: center;
        margin-bottom: 20px;
    }

    #review-section .down-content>h2 {
        font-size: 40px;
    }

    #review-section h1{
        font-size:50px;
        margin-bottom: 20px;
    }

    #review-section{
        text-align: center;
        font-size: 30px;
        line-height: 1.6;
    }

    #cars-heading{
        background-image: url("../images/cars_heading.jpg");
        background-position: bottom;
        opacity: 0.9;
        background-size: cover;
    }

    #cars-heading h1{
        font-size: 50px;
        font-style: oblique;
        color:rgb(0, 0, 0);
    }

    #cars-heading p{
        font-size: xx-large;
        font-weight:600;
        font-style: italic;
        color: rgb(0, 0, 0);
    }

    .product-item >.down-content>a,
    .produc-item >.down-content>h2{
        color: #270eb5;
    }

    .product-item{

        height: 75vh;
    }

    .cars-social-container{
        background-color: #7F8AA8;
        width: 66vw;
        margin: 18vw;
        margin-top: 30px;
        margin-bottom: 1vh;
        padding: 20px;
        border-radius: 20px;
        font-size: x-large;
    }

    .cars-social-container a{
        color: #270eb5;
        padding: 10px;
        font-size: xx-large;
    }

    #image-section{
        height: 66vh;
    }

    ::placeholder{
    text-align: center;
    font-size:larger;
    }

    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
